<h4>Trashed Post List</h4>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody id="trashedpostlistbody">
    </tbody>

</table>
